<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:0;max-width:600px" width="100%" >
	<tbody>
		<tr>
			<td align="center" bgcolor="#f8f9fa" style="background:#f8f9fa;border-bottom-color:#ffa030;border-bottom-style:solid;border-bottom-width:15px;border-top-width:0" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%" >
					<tbody>
						<tr>
							<td style="margin-bottom:10px" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td align="center" style="color:#ffffff;font-family:Helvetica;font-size:11px;line-height:125%;padding:9px 18px;text-align:center" valign="top">
																<img src="http://acervacarioca.com.br/Logo_ACerva_Carioca.png" alt="Logo ACervA Carioca" >
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#ffffff" style="background:#ffffff;border-bottom-width:0;border-top-width:0" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%" >
					<tbody>
						<tr>
							<td valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" valign="center" width="100%">
													<tbody>
														<tr>
															<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:15px;line-height:125%;padding:18px;text-align:left" valign="top">
																<div align="center" style="text-align:center" >
																	<span style="font-family:arial,helvetica neue,helvetica,sans-serif" >
																		<span style="color:#e06020" >
																			<span style="font-size:20px">%TITULO%</span>
																		</span>
																	</span>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td style="min-width:100%;padding:2px">
												<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-top-color:#eaeaea;border-top-style:solid;border-top-width:2px;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td>&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody >
														<tr style="font-family:arial,helvetica,sans-serif;font-size:15px" >
															<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:13px;line-height:125%;padding:9px 18px;text-align:left" valign="top">
																%CORPO%
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody >
														<tr >
															<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:13px;line-height:125%;padding:9px 18px;text-align:left" valign="top">
																<p>
																	<span style="font-family:arial,helvetica neue,helvetica,sans-serif" >
																		Atenciosamente,<br />
																		Equipe ACervA Carioca 
																	</span>
																</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<br />
			</td>
		</tr>
		<tr >
			<td align="center" bgcolor="#f8f9fa" style="background:#f8f9fa;border-bottom-width:0;border-top-width:0" valign="top" >
				<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%" >
					<tbody>
						<tr>
							<td valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
									<tbody>
										<tr >
											<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody >
														<tr >
															<td align="center" style="color:#000000;font-family:Verdana,Geneva,sans-serif;font-size:11px;line-height:125%;padding:9px 18px;text-align:center" valign="top">
																<br />
																<p >
																	<span style="color:#808080; font-family:arial,helvetica neue,helvetica,sans-serif" >
																		Copyright &copy; %ANO% ACervA Carioca, Todos os direitos reservados.
																	</span>
																</p>
																<br />
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>