<form name="formRegional" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.status.carregando">Carregando<i class="icon icon-spin2 glyphicon-spin"></i></div>
        <div class="panel-heading" ng-hide="ctrl.status.carregando">{{ ctrl.modeloOriginal.codigo ? "Edição da regional '" + ctrl.modelo.nome + "'": "Nova regional" }}</div>
        <div class="panel-body" ng-hide="ctrl.status.carregando">
            <fieldset ng-disabled="ctrl.status.bloqueado">
                <div class="row" ng-if="ctrl.status.bloqueado">
                    <div class="col-sm-12">
                        <div class="alert alert-dismissible alert-warning">
                            A edição está bloqueada pois a regional está inativa.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formRegional.nome")>
                            <label class="control-label" for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" autocomplete="off" required
                                   ng-model="ctrl.modelo.nome"
                                   ng-disabled="!ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor" />
                            <p ng-show="formRegional.nome.$invalid && !formRegional.nome.$pristine" class="help-block">O nome é obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formRegional.textoHtml")>
                            <label class="control-label" for="textoHtml">Texto HTML</label>
                            <text-angular ng-model="ctrl.modelo.textoHtml" required
                                          ta-toolbar-button-class="btn btn-default btn-sm"></text-angular>
                            <p ng-show="formRegional.textoHtml.$invalid && !formRegional.textoHtml.$pristine" class="help-block">O texto Html é obrigatório</p>
                        </div>
                    </div>
                </div>

                <div class="row"
                     ng-if="ctrl.modelo.codigo">
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading" data-toggle="collapse" data-target="#formRegionalBody" style="cursor: pointer;">
                                <h3 class="panel-title">Anexar um logotipo</h3>
                            </div>
                            <div class="panel-collapse" role="tabpanel" id="formRegionalBody">
                                <div class="panel-body">
                                    <div class="row"
                                         ng-if="ctrl.modelo.nomeArquivoLogo">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img ng-src="@Url.Content("~/Content/Aplicacao/images/regionais/"){{ctrl.modelo.codigo}}/{{ctrl.modelo.nomeArquivoLogo}}" style="max-height: 80px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label class="control-label" for="arquivo">Arquivo</label>
                                            <input type="file" name="arquivo" accept="image/*" onchange="angular.element(this).scope().selecionaArquivoParaUpload(this.files)" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-right">
                                                <button class="btn btn-primary"
                                                        ng-click="ctrl.anexaLogotipo()">
                                                    Anexar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a class="btn btn-default" href="#/"
                           ng-disabled="!ctrl.modelo || ctrl.status.salvando">Voltar</a>
                        <button type="submit" class="btn btn-primary" ng-hide="ctrl.status.bloqueado" ng-disabled="formRegional.$invalid || ctrl.status.salvando"
                                ng-click="ctrl.salvaRegional()">
                            Salvar<i class="icon icon-spin2 glyphicon-spin" ng-show="ctrl.status.salvando"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
