@{
    ViewBag.Title = "Confirmação de e-mail";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Obrigado por confirmar seu e-mail. Por favor @Html.ActionLink("clique aqui para efetuar seu login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
