@{
    ViewBag.Title = "Confirmação de recriação de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi recriada. Por favor @Html.ActionLink("clique aqui para efetuar seu login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
