<div class="panel panel-primary">
    <div class="panel-heading">Associados</div>
    <div class="panel-body">
        <fieldset ng-disabled="listaCtrl.status.carregando">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-12">
                    <input type="checkbox" ng-model="listaCtrl.canceladosCarregados" ng-change="listaCtrl.buscaCancelados()" /> Carregar cancelados
                </div>
                <div class="col-sm-12">
                    <div class="btn-group">
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.ativo) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.ativo)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.ativo.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoIndicacao) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.aguardandoIndicacao)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.aguardandoIndicacao.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.novo) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.novo)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.novo.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoConfirmacaoEmail) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.aguardandoConfirmacaoEmail)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoPagamentoAnuidade) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.aguardandoPagamentoAnuidade)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoRenovacao) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.aguardandoRenovacao)" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.aguardandoRenovacao.nomeExibicao }}</a>
                        <a ng-class="{'active': listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.cancelado) }" ng-click="listaCtrl.mudaFiltroStatus(listaCtrl.dominio.statusUsuario.cancelado)" ng-if="listaCtrl.canceladosCarregados" class="btn btn-sm btn-default">{{ listaCtrl.dominio.statusUsuario.cancelado.nomeExibicao }}</a>
                    </div>
                </div>
            </div>
        </fieldset>
        <h3 ng-if="listaCtrl.status.carregando">Loading...</h3>
        <div class="row hidden-xs"
             ng-if="!listaCtrl.status.carregando">
            <table id="tabelaUsuarios"
                   datatable="ng" dt-disable-deep-watchers="true"
                   dt-options="listaCtrl.dtOptions"
                   dt-multifiltering="multifiltering" class="table table-bordered table-striped table-responsive table-hover table-condensed">
                <thead>
                <tr>
                    <th class="sorting_disabled text-center" style="width: 30px; padding-right: 0;">
                        <input type="checkbox" ng-model="listaCtrl.todosFiltrados" ng-change="listaCtrl.selecionaTodosFiltrados()"/>
                    </th>
                    <th style="width: 60px;">Matrícula</th>
                    <th>Nome</th>
                    <th style="width: 120px;">E-mail</th>
                    <th style="width: 60px;">Status</th>
                    <th style="width: 80px;">Regional</th>
                    <th style="width: 80px;">Papéis</th>
                    <th style="width: 40px;" title="E-mail de boas vindas enviado à lista">Bem-vindo</th>
                    <th class="sorting_disabled" style="width: 40px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in listaCtrl.usuariosFiltrados track by m.id"
                    ng-class="{'linhaSelecionada': listaCtrl.usuariosSelecionados[m.id]}">

                    <td class="text-center">
                        <input type="checkbox"
                               ng-model="listaCtrl.usuariosSelecionados[m.id]"
                               ng-change="listaCtrl.alteraSelecao(m.id);"/>
                    </td>
                    <td>
                        <span class="hidden">{{("00000"+m.matricula).slice(-6)}}</span>
                        {{m.matricula}}
                    </td>
                    <td>
                        <a title="Editar associado"
                           ng-href="#/Edit/{{m.id}}">{{m.name}}</a>
                    </td>
                    <td>{{m.email}}</td>
                    <td>
                        <span class="label" ng-class="listaCtrl.getLabelStatusClass(m.status);">{{m.status.nomeExibicao}}</span>
                    </td>
                    <td>{{m.nomeRegional}}</td>
                    <td>{{m.nomesPapeis}}</td>
                    <td><span class="label" ng-class="{'label-success': m.emailBoasVindasListaEnviado, 'label-danger': !m.emailBoasVindasListaEnviado}">{{ m.emailBoasVindasListaEnviado ? "sim" : "não"}}</span></td>

                    <td style="padding: 4px;">
                        <a class="btn btn-info btn-xs" title="Editar {{ m.name }}"
                           href="#/Edit/{{m.id}}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row visible-xs"
             ng-if="!listaCtrl.status.carregando">
            <table class="table table-bordered table-striped table-responsive table-hover table-condensed visible-xs" style="width: 100%;">
                <thead>
                <tr>
                    <th>Associado</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in listaCtrl.usuariosFiltrados track by m.id" style="margin-bottom: 5px;">
                    <td>
                        <strong>
                            <a title="Editar associado"
                               ng-href="#/Edit/{{m.id}}">{{m.matricula}}-{{m.name}}</a>
                        </strong>
                        <span class="label" ng-class="listaCtrl.getLabelStatusClass(m.status);">{{m.status.nomeExibicao}}</span>
                        <span class="label label-primary">
                                {{m.nomeRegional}}
                            </span>
                        <br/>
                        <i>{{m.email}}</i>
                        <br/>
                        <p class="text-muted">{{m.nomesPapeis}}</p>
                        <a class="btn btn-info btn-xs" title="Editar {{ m.name }}"
                           href="#/Edit/{{m.id}}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left hidden-xs">
                    <!-- FUNCOES QUE APENAS DIRETORES PODEM EXECUTAR -->
                    <span ng-if="(listaCtrl.dominio.usuarioLogadoEhAdmin || listaCtrl.dominio.usuarioLogadoEhDiretor)">
                        <a class="btn btn-success"
                           ng-if="(listaCtrl.filtroStatus.length === 1 && (listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoPagamentoAnuidade) || listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoRenovacao))) || 
                                    (listaCtrl.filtroStatus.length === 2 && (listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoPagamentoAnuidade) && listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.aguardandoRenovacao)))"
                           acerva-confirm
                           confirm-action="listaCtrl.confirmaPagamentoSelecionados()"
                           confirm-window-type="success"
                           confirm-text="{{listaCtrl.montaMensagemConfirmacaoOperacaoLote('Confirma que os %QUANTIDADE% associados selecionados realizaram pagamento?');}}">Confirmar pagamento para selecionados</a>
                        <a class="btn btn-primary"
                           ng-if="(listaCtrl.filtroStatus.length === 1 && (listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.ativo) || listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.novo))) || 
                                    (listaCtrl.filtroStatus.length === 2 && (listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.ativo) && listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.novo)))"
                           acerva-confirm
                           confirm-action="listaCtrl.cobrancaGeradaSelecionados()"
                           confirm-window-type="success"
                           confirm-text="{{listaCtrl.montaMensagemConfirmacaoOperacaoLote('Confirma que as cobranças foram geradas para os %QUANTIDADE% associados selecionados?');}}">Cobrança gerada para selecionados</a>
                        <a class="btn btn-primary"
                           ng-if="listaCtrl.filtroStatus.length === 1 && listaCtrl.estaFiltradoPorStatus(listaCtrl.dominio.statusUsuario.ativo)"
                           acerva-confirm
                           confirm-action="listaCtrl.enviaEmailBoasVindasNaListaSelecionados()"
                           confirm-window-type="success"
                           confirm-text="Confirma envio de e-mail de boas vindas na lista (COCECA) para os associados selecionados?">Enviar e-mail de boas vindas no COCECA</a>
                    </span>
                    <a class="btn btn-default"
                       ng-click="listaCtrl.abreJanelaSelecaoEmails()">Seleção por e-mails</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary" href="#/Create">Novo associado</a>
                </div>
            </div>
        </div>
    </div>
</div>