<div class="modal-header alert-primary">
    <h3 class="modal-title" id="modal-title">Escolha uma foto</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="formTrocaFoto" novalidate>
        <div class="container-crop-photo">
            <label for="photo-upload" class="custom-file-upload">
                <i class="glyphicon glyphicon-cloud-upload"></i> Escolher foto
            </label>
            <input id="photo-upload" class="photo-upload" type="file" onchange="angular.element(this).scope().onFile(this.files[0])">

            <div ng-if="ctrl.modelo.fotoBase64Url" class="img-container" style="max-height: 300px;">
                <img ng-if="ctrl.modelo.fotoBase64Url" ng-src="{{ctrl.modelo.fotoBase64Url}}"
                     alt="Imagem a ser recortada"
                     ng-cropper
                     ng-cropper-show="ctrl.cropperShowEvent"
                     ng-cropper-options="ctrl.cropperOptions">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" type="button" ng-click="ctrl.cancel()">Cancelar</button>
    <button class="btn btn-primary pull-right" type="button" ng-click="ctrl.ok()">OK</button>
</div>