<div class="modal-header alert-primary">
    <h3 class="modal-title" id="modal-title">Histórico de status</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12" style="max-height: 300px; overflow-y: auto;">
            <table class="table table-bordered table-striped table-responsive table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width: 140px;">Data</th>
                        <th>Status</th>
                        <th style="width: 200px;">Responsável</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="historicoStatus in ctrl.listaHistorico">
                        <td>{{historicoStatus.dataHora | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>
                            <span class="label" ng-class="{
                                  'label-success': historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.ativo.codigoBd,
                                  'label-danger':  historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.cancelado.codigoBd,
                                  'label-warning': historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd,
                                  'label-default': historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd || historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd,
                                  'label-primary': historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd || historicoStatus.statusNovo.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd
                                  }">{{historicoStatus.statusNovo.nomeExibicao}}</span>
                        </td>
                        <td>{{historicoStatus.nomeUsuarioLogado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
</div>