<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:hib="urn:nhibernate-configuration-2.2">
  <hib:hibernate-configuration>
    <hib:session-factory>
      <hib:property xdt:Transform="Replace" xdt:Locator="Match(name)" name="connection.connection_string">
        Server=YYYYYYYYYYYYYYY;Database=acerva;User ID=acerva;Password=XXXXXXXXXXXXXXXX;Convert Zero Datetime=True;Allow Zero Datetime=True
      </hib:property>
      <hib:property xdt:Transform="Replace" xdt:Locator="Match(name)" name="show_sql">true</hib:property>
      <hib:property xdt:Transform="Replace" xdt:Locator="Match(name)" name="format_sql">false</hib:property>
    </hib:session-factory>
  </hib:hibernate-configuration>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@acervacarioca.com.br" xdt:Transform="Replace">
        <network host="acervacarioca.com.br" password="XXXXXXXXXX" port="587" userName="administrativo@acervacarioca.com.br"  enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <log4net>
    <root>
      <level value="DEBUG" xdt:Transform="Replace" />
    </root>
    <logger name="NHibernate" xdt:Locator="Match(name)">
      <level value="ERROR" xdt:Transform="Replace"/>
    </logger>
    <logger name="NHibernate.SQL" xdt:Locator="Match(name)">
      <level value="ERROR" xdt:Transform="Replace"/>
    </logger>
    <logger name="Pushable.Data" xdt:Locator="Match(name)">
      <level value="ERROR" xdt:Transform="Replace"/>
    </logger>
  </log4net>

  <dotless minifyCss="true" cache="true" web="true"
           xdt:Transform="Replace"/>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert"/>
  </system.web>
</configuration>
