<div class="panel panel-primary">
    <div class="panel-heading">Minhas ACervAs</div>
    <div ng-show="listaCtrl.status.carregando" class="text-center"><div class="loader"></div></div>
    <div ng-hide="listaCtrl.status.carregando">
        <div class="panel-body">
            <div class="row hidden-xs">
                <table id="tabelaAcervas"
                       datatable="ng" dt-disable-deep-watchers="true"
                       dt-options="{paging: false, lengthChange: false, info: false, searching: false }"
                       class="table table-bordered table-striped table-responsive table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 300px;">Regional</th>
                            <th>Nome</th>
                            <th style="width: 120px;">Participantes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="m in listaCtrl.listaMinhasAcervas track by m.codigo">
                            <td>{{m.regional.nome}}</td>
                            <td>
                                <a title="Editar ACervA"
                                   ng-href="@Url.Action("Index", "MinhaAcerva")/#/Edit/{{m.codigo}}">{{m.nome}}</a>
                            </td>
                            <td>
                                <input type="hidden" value="{{('0000000000'+m.participacoes.length).slice(-10)}}" />
                                {{m.participacoes.length}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row visible-xs">
                <ul>
                    <li ng-repeat="m in listaCtrl.listaMinhasAcervas track by m.codigo" style="margin-bottom: 5px;">
                        <strong>
                            <a title="Editar ACervA"
                               ng-href="@Url.Action("Index", "MinhaAcerva")/#/Edit/{{m.codigo}}">{{m.nome}}</a>
                        </strong><br />
                        <dfn>{{m.regional.nome}}</dfn><br />
                        <dfn>{{m.participacoes.length}} participante{{m.participacoes.length > 1 ? 's' : ''}}</dfn>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="@Url.Action("Index", "MinhaAcerva")#/Create">Criar nova ACervA Carioca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>