@{
    ViewBag.Title = "Confirmação de e-mail enviada";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Um e-mail foi com um link de confirmação foi enviado para o e-mail cadastrado.<br/>
        Por favor verifique sua caixa de entrada.
    </p>
    <p>
        Por favor @Html.ActionLink("clique aqui para efetuar seu login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) caso já tenha confirmado sua conta.
    </p>
</div>
