@{
    ViewBag.Title = "Contatos";
}
<h4>@ViewBag.Title</h4>
<h5>@ViewBag.Message</h5>

<address>
    ACervA Carioca - Associação dos Cervejeiros Artesanais Cariocas<br />
    Avenida Rio Branco, nº 26, Centro, Rio de Janeiro, RJ, CEP 20090-001.<br />
    @*<abbr title="Telelefone">Tel.:</abbr> +55 21 XXXXXXXXXX*@
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:contato@acervacarioca.com.br">contato@acervacarioca.com.br</a>
</address>