@{
    ViewBag.Title = "Contatos";
}
<h4>@ViewBag.Title</h4>
<h5>@ViewBag.Message</h5>

<address>
    Nome da empresa<br />
    Rua Xyz, 123 CEP 12345-678<br />
    <abbr title="Telelefone">Tel.:</abbr>
    +55 21 2345678
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:faleconosco@sitedoacervaaindanaoexistente.com.br">faleconosco@sitedoacervaaindanaoexistente.com.br</a>
</address>