@{
    ViewBag.Title = "Loja";
}

<h4>Lojas da ACervA Carioca</h4>

<div class="row">
    <div class="col-sm-6">
        <a href="http://loja.acervacarioca.com.br" target="_blank">
            <img src="@Url.Content("~/Content/Aplicacao/images/LojaAcerva.jpg")" alt="Loja da ACervA Carioca - cursos, ingressos, anuidades etc." />
        </a>
    </div>
    <div class="col-sm-6">
        <a href="http://www.beershop.com.br/busca/?q=acerva" target="_blank">
            <img src="@Url.Content("~/Content/Aplicacao/images/beershop-email.png")" alt="Produtos da ACervA Carioca na loja de nosso parceiro Beershop - camisas, copos, chaveiros, tirantes, growlers etc." />
        </a>
    </div>
</div>

@section styles {
}
@section dependencies {
}
@section scripts {
}
