@{
    ViewBag.Title = "Loja";
}

<h4>Lojas da ACervA Carioca</h4>

<ul style="font-size: 1.1em;">
    <li>
        Produtos (através do nosso parceiro BeerShop):<br/>
        <a href="http://www.beershop.com.br/produtos/pesquisa/acerva" target="_blank">Produtos ACervA Carioca</a>
    </li>
    <li style="margin-top: 10px;">
        Cursos e eventos:<br/>
        <a href="http://loja.acervacarioca.com.br" target="_blank">http://loja.acervacarioca.com.br</a>
    </li>
</ul>

@section styles {
}
@section dependencies {
}
@section scripts {
}
