<form name="formArtigo" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.status.carregando">Carregando<i class="icon icon-spin2 glyphicon-spin"></i></div>
        <div class="panel-heading" ng-hide="ctrl.status.carregando">{{ ctrl.modeloOriginal.codigo ? "Edição do artigo '" + ctrl.modelo.titulo + "'": "Novo artigo" }}</div>
        <div class="panel-body" ng-hide="ctrl.status.carregando">
            <fieldset ng-disabled="ctrl.status.bloqueado">
                <div class="row" ng-if="ctrl.status.bloqueado">
                    <div class="col-sm-12">
                        <div class="alert alert-dismissible alert-warning">
                            A edição está bloqueada pois o artigo está inativo.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formArtigo.nome")>
                            <label class="control-label" for="titulo">Título</label>
                            <input type="text" class="form-control" name="titulo" autocomplete="off" required
                                   ng-model="ctrl.modelo.titulo"/>
                            <p ng-show="formArtigo.titulo.$invalid && !formArtigo.titulo.$pristine" class="help-block">O título é obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formArtigo.textoHtml")>
                            <label class="control-label" for="textoHtml">Texto HTML</label>
                            <text-angular ng-model="ctrl.modelo.textoHtml" required></text-angular>
                            <p ng-show="formArtigo.textoHtml.$invalid && !formArtigo.textoHtml.$pristine" class="help-block">O texto Html é obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("categoria", "ctrl.modelo", "nome",
                                "categoria in ctrl.dominio.categorias | filter: {nome: $select.search} | orderBy : 'nome' track by categoria.codigo",
                                "categoria.nome | highlight: $select.search")
                       {
                           Obrigatorio = true,
                           Titulo = "Categoria",
                           NgDisabled = ""
                       })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <button class="btn btn-primary" href="#"
                           ng-click="ctrl.abrePopupAnexos(ctrl.modelo)"
                           ng-disabled="!ctrl.modelo.codigo">Gerenciar anexos</button>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="/#"
                           ng-disabled="!ctrl.modelo || ctrl.status.salvando">Cancelar</a>
                        <button type="submit" class="btn btn-primary" ng-hide="ctrl.status.bloqueado" ng-disabled="formArtigo.$invalid || ctrl.status.salvando"
                                ng-click="ctrl.salvaArtigo()">Salvar<i class="icon icon-spin2 glyphicon-spin" ng-show="ctrl.status.salvando"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
